<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.koshal.atttendance">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AddCourseActivity" />
        <activity android:name=".CourseActivity_Prof" />
        <activity android:name=".StudentsActivity" />
        <activity android:name=".TakeAttendanceActivity" />
        <activity android:name=".Password" />
        <activity android:name=".LoginActivity"
            android:windowSoftInputMode="stateHidden"
            >
        </activity>
        <activity android:name=".MainActivity_Student" />
        <activity android:name=".MainActivity_Prof"

            />
        <activity android:name=".Tabledemo" />
        <activity
            android:name=".SearchPageActivity"
            android:parentActivityName=".MainActivity_Student"></activity>
        <activity android:name=".AttendanceSheetActivity" />
        <activity android:name=".AttendanceDetailsActivity"></activity>
        <activity android:name=".PasscodeActivity"></activity>
    </application>

</manifest>